// Ignore build files
_site/

// Ignore minified js/css/etc bundles
assets/js/*.min.js
**/*.min.css
**/*.min.js
css_new/uswds.css
js/galleria/galleria.js
assets/js/galleria/
js/jquery.*
assets/js/uswds*

// Ignore dependencies
node_modules/
