// Ignore build files
_site/
assets/css/
_data/css-manifest.json

// Ignore minified js/css/etc bundles
assets/js/*.min.js
**/*.min.css
**/*.min.js
css_new/uswds.css
js/galleria/galleria.js
assets/js/galleria/
js/jquery.*
assets/js/uswds*

// Ignore dependencies
node_modules/

# Ignore files with liquid syntax errors in prettier html parser
_includes/components/project-card.html
_includes/core/header.html
_includes/core/meta.html
_includes/core/structured-data.html
