---
layout: default
redirect_from:
  - /contact.html
---

<div class="">
  <div id="hero-image" class="grid-col-12">
    <div id="hero-header-text" class="grid-col-8">
      <!-- <h1 id="hero-text">Civic Tech DC</h1> -->
      <div id="hero-p">
        <p>
          Founded in 2012, Civic Tech DC is a non-partisan, non-political group
          of volunteer civic hackers working together to solve local issues and
          help people engage with the city.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-col-9 usa-section">
    <h2 id="project-nights">Join us at one of our upcoming project nights!</h2>
    <p>
      Our twice-monthly meetups are open to anyone, and offer a chance to learn
      more about what we do, contribute to a current project, or just snag some
      free pizza!
    </p>
  </div>
  <div class="grid-col-6">
    <h3 id="next-meetup-date"></h3>
    <p id="next-details">
      <span id="next-location"></span>
      <br />
      <span id="next-rsvps"> </span> do-gooders will be there — what about you?
      <br />
      <a
        id="next-rsvp"
        target="_blank"
        href="https://www.meetup.com/Civic-Tech-DC/"
        class="usa-button"
        >RSVP on Meetup »</a
      >
    </p>

    <h3 id="future-meetup-date"></h3>
    <p id="future-details">
      <span id="future-location"></span>
      <br />
      <span id="future-rsvps"> </span> do-gooders will be there — what about
      you?
      <br />
      <a
        id="future-rsvp"
        target="_blank"
        href="https://www.meetup.com/Civic-Tech-DC/"
        class="usa-button"
        >RSVP on Meetup »</a
      >
    </p>
    <p>
      <strong
        ><a
          id="all-meetup-events"
          href="https://www.meetup.com/Civic-Tech-DC/events/"
          target="_blank"
          >See all upcoming events »</a
        ></strong
      >
    </p>
  </div>
  <div class="grid-col-6">
    <img src="assets/projnight.jpg" />
  </div>
  <!-- <div class="grid-col-6">
            <br>
            <h2> PROJECT NIGHT </h2>
            <br>
            <img src="assets/projnight.jpg">
            <br>
            <p>Our twice-monthly meetups are open to anyone, and offer a chance to learn more about what we do, contribute to a current project, or just snag some free pizza!</p>
    </div>

    <div class="grid-col-6">
        <div class="beige-section">
            <br>
            <h2> SCHEDULE </h2>
            <br>
            <h3>Project Night</h3>
            <p>Tuesday, January 8 @ 6:30pm</p>
            <p>1325 G Street, NW, 3rd Floor</p>
            <p>65 do-gooders will be there — what about you?</p>
            <p><a href="https://www.meetup.com/Civic-Tech-DC/events/">RSVP on Meetup »</a></p>
            <br>
            <h3>Project Night</h3>
            <p>Tuesday, January 29 @ 6:30pm</p>
            <p>1200 New York Ave NW</p>
            <p>38 do-gooders will be there — what about you?</p>
            <p><a href="https://www.meetup.com/Civic-Tech-DC/events/">RSVP on Meetup »</a></p>
        </div>
    </div> -->
</div>

<div class="grid-container">
  <div class="grid-col-12 usa-section">
    <div class="grid-col-12">
      <br />
      <!-- <h2 class="project-section-header">Projects</h2> -->
      <h2 id="projects">Projects</h2>
      <p>
        The list of projects we’re working on is always changing! Here are a few
        of our past and current projects:
      </p>
      <br />

      
    </div>


    <div class="grid-row grid-gap">

    {% include project-card.html project_slug="data-portal" %} {% include
    project-card.html project_slug="anc-finder" %} {% include project-card.html
    project_slug="open-election-map" %}

</div>    
  </div>
</div>

<div class="grid-container">
  <div class="usa-section grid-row grid-gap">

    <div class="grid-col-12">
      <h2 id="about">About</h2>
      <div class="grid-row grid-gap">

      <div class="grid-col-8">
        <p>
          Founded in 2012, Civic Tech DC is a non-partisan, non-political group
          of volunteer civic hackers working together to solve local issues in
          the Washington, DC area and helping people engage with the city. We
          host twice-monthly hacknights and other events to gather, discuss, and
          get stuff done.
        </p>
        <p>
          We're looking to bring people with all different skill sets together
          to maximize our potential. Civic hackers aren't just developers —
          they're journalists, lawyers, designers, and interested citizens in
          general. The more community participation, the better.
        </p>
        <p>
          To contact us, please email
          <a href="mailto:team@codefordc.org">team@codefordc.org</a>.
        </p>
        <br />
        <br />
        <br />
      </div>
      <div class="grid-col-4">
        <p></p>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="grid-col-12">
    <!-- <br>
        <button> Submit a Proposal </button> -->
  </div>
</div>

<script src="{{ site.baseurl }}/assets/js/meetup.js"></script>
