/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use "uswds-core" with (
  $theme-show-compile-warnings: true,
  $theme-show-notifications: false,

  $theme-color-primary: #104378,
  $theme-color-accent-warm: #eec05e,
  $theme-card-border-color: "accent-warm",
  $theme-focus-color: "primary"
);
