{% assign project = include.project %}

<li class="usa-card grid-col-12 tablet:grid-col-6 desktop:grid-col-4">
  <div class="usa-card__container">
    <div class="usa-card__header">
      <a href="{{ project.url }}">
        <h4 class="usa-card__heading">{{ project.title }}</h4>
      </a>
    </div>
    <div class="usa-card__media">
      <div class="usa-card__img">
        <img
          src="{{ site.baseurl }}/assets/images/project_thumbnails/{{ project.image }}"
          alt="TO DO"
        />
      </div>
    </div>
    <div class="usa-card__body">
      <p>{{ project.content }}</p>
    </div>
  </div>
</li>
