<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
  rel="stylesheet"
/>

{% if site.data.css-manifest %}
  {% assign css_file = site.data.css-manifest["styles.css"] %}
  <link rel="stylesheet" href="{{ '/assets/css/' | append: css_file | relative_url }}" />
{% else %}
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
{% endif %}
