<footer class="usa-footer usa-footer--big" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8 desktop:grid-col-12">
          <nav class="usa-footer__nav" aria-label="Footer navigation">
            <div class="grid-row grid-gap-4 grid-row-gap-2">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content">
                  <h4 class="usa-footer__primary-link">Get Involved</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="{{ site.baseurl }}/special-events">Events</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="{{ site.baseurl }}/projects">Projects</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="{{ site.baseurl }}/slack">Join Slack</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="{{ site.baseurl }}/partners">Partners</a>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content">
                  <h4 class="usa-footer__primary-link">Learn More</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="{{ site.baseurl }}/about">About</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="{{ site.baseurl }}/blog">Blog</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content">
                  <h4 class="usa-footer__primary-link">Support</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="{{ site.baseurl }}/donate">Donate</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="https://forms.gle/HrpBe69qqCG8NiNo6" target="_blank">Become an Organizer</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="https://forms.gle/xNkayfBVMJj8dt1X8" target="_blank">Give Feedback</a>
                    </li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content">
                  <h4 class="usa-footer__primary-link">Connect</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a href="https://github.com/civictechdc" target="_blank">GitHub</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a href="https://www.linkedin.com/company/civic-tech-dc/"
                         target="_blank">LinkedIn</a>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
{% include core/footer-scripts.html %}
