<footer class="usa-footer usa-footer--big" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>

  <div class="usa-footer__primary-section padding-bottom-6">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8 desktop:grid-col-12">
          <nav class="usa-footer__nav" aria-label="Footer navigation">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <ul class="usa-list usa-list--unstyled">
                  <li class="usa-footer__secondary-link">
                    <a href="/code-of-conduct">Code of Conduct</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="/slack">Join Slack</a>
                  </li>
                </ul>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <ul class="usa-list usa-list--unstyled">
                  <li class="usa-footer__secondary-link">
                    <a href="https://github.com/civictechdc" target="_blank"
                      >GitHub</a
                    >
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a
                      href="https://www.linkedin.com/company/civic-tech-dc/"
                      target="_blank"
                      >LinkedIn</a
                    >
                  </li>
                </ul>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <ul class="usa-list usa-list--unstyled">
                  <li class="usa-footer__secondary-link">
                    <a href="https://forms.gle/xNkayfBVMJj8dt1X8"
                      >Give Feedback</a
                    >
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="https://forms.gle/HrpBe69qqCG8NiNo6"
                      >Become an Organizer</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
{% include core/footer-scripts.html %}
