<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
<link
  href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css"
  rel="stylesheet"
/>
<!-- <link rel="stylesheet" href="/css_new/uswds.min.css" /> -->

<style>
  #map {
    height: 300px;
  }
</style>
