
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>


<script src="/assets/js/uswds.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"
></script>

<script type="text/javascript">
  const showReturnToTopThreshold = 100;
  const returnToTop = () => {
    const scrollTop = $(window).scrollTop();
    if (scrollTop > showReturnToTopThreshold) {
      $("#returnToTop").show();
    } else {
      $("#returnToTop").hide();
    }
  };

  $(window).on("scroll", () => returnToTop());
  $("#returnToTopLink").click((e) => {
    e.preventDefault();
    $("html,body").animate(
      {
        scrollTop: 0,
      },
      700,
    );
  });
</script>