<p>
  The list of projects we’re working on is always changing! Here are a few of
  our past and current projects:
</p>
<br />

<div class="grid-container">
  <div class="grid-row grid-gap-lg">
    <ul class="usa-card-group usa-list">
      {% include project-card.html project_slug="ballot-initiative" %} {%
      include project-card.html project_slug="cib-mango-tree" %} {% include
      project-card.html project_slug="daria" %} {% include project-card.html
      project_slug="eavs" %} {% include project-card.html
      project_slug="street-view" %}
    </ul>
  </div>
</div>
