<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col-12">
      <p>
        The list of projects we’re working on is always changing! Here are a few
        of our past and current projects:
      </p>
      <br />
    </div>

    <div class="grid-row grid-gap">
      {% include project-card.html project_slug="data-portal" %} {% include
      project-card.html project_slug="anc-finder" %} {% include
      project-card.html project_slug="open-election-map" %}
    </div>
  </div>
</div>
