<div>
  <h2>Join us at one of our upcoming project nights!</h2>
  <p>
    Our twice-monthly meetups are open to anyone and offer a chance to learn
    more about what we do, contribute to a current project, or just snag some
    free pizza!
  </p>
  <!--
    Meetup event cards are rendered and then modified by the assets/js/meetup.js script.
    meetup.js makes a request to meetup.com to retrieve details about the next two events.
      * If there are no upcoming events scheduled then no changes are made.
      * If there is one upcoming event then the "next event" details are added.
      * If there are two upcoming events then the "next event" and "future event" details are added
        and the future event card is unhidden.
    -->
  <ul class="usa-card-group">
    <li class="usa-card grid-col-12 tablet:grid-col-6">
      <div class="usa-card__container">
        <div class="usa-card__header">
          <!--
            Note: a recent Chrome security change broke our ability to make queries to the Meetup.com API to display upcoming events.
            the comments below are the old code, and a workaround that just renders button links to our Meetup and Lu.ma accounts is added.
            Eventually we should add a serverless API call that will get upcoming events to render. It should be cacheable at the CDN and
            have very low traffic.
          -->
          <!-- <h3 id="meetup-next-event-date">We're still scheduling it!</h3> -->
          <h3 id="meetup-next-event-date">Join us at our next event</h3>
        </div>
        <div class="usa-card__body">
          <!-- <h4 id="meetup-next-event-title" class="margin-bottom-0"> -->
          <!--   Check back soon -->
          <!-- </h4> -->
          <p hidden id="meetup-next-event-details">
            <span id="meetup-next-event-location"></span>
            <br />
            <span id="meetup-next-event-num-rsvps"></span> attendees
          </p>
          <p>
            <a
              id="meetup-next-event-rsvp-button"
              target="_blank"
              href="https://lu.ma/civic-tech-dc"
              class="usa-button"
              >Follow us on Lu.ma »</a
            >
            <a
              id="meetup-next-event-rsvp-button"
              target="_blank"
              href="https://www.meetup.com/civic-tech-dc/"
              class="usa-button tablet:margin-top-2"
              >Follow us on Meetup »</a
            >
          </p>
        </div>
      </div>
    </li>
    <li
      hidden
      id="meetup-future-event-card"
      class="usa-card grid-col-12 tablet:grid-col-6"
    >
      <div class="usa-card__container">
        <div class="usa-card__header">
          <h3 id="meetup-future-event-date"></h3>
        </div>
        <div class="usa-card__body">
          <h4 id="meetup-future-event-title" class="margin-bottom-0"></h4>
          <p>
            <span id="meetup-future-event-location"></span>
            <br />
            <span id="meetup-future-event-num-rsvps"></span> attendees
          </p>
          <p>
            <a
              id="meetup-future-event-rsvp-button"
              target="_blank"
              href="https://www.meetup.com/civic-tech-dc/"
              class="usa-button"
              >RSVP on Meetup »</a
            >
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
