{% assign project = include.project | default: project %}
<li class="usa-card grid-col-12 tablet:grid-col-6 desktop:grid-col-4">
  <div class="usa-card__container">
    <div class="usa-card__header">
      <a href="{{ project.url }}">
        <h4 class="usa-card__heading">
          {{ project.title }}
          {% if project.positions and project.positions.size > 0 %}
            <span class="usa-tag margin-left-1">Now recruiting</span>
          {% endif %}
        </h4>
      </a>
    </div>
    <div class="usa-card__media">
      <div class="usa-card__img">
        {% include responsive-image.html src=project.image alt=project.image_alt_text %}
      </div>
    </div>
    <div class="usa-card__body">
      <p>{{ project.description }}</p>
    </div>
  </div>
</li>
