<div class="grid-container margin-bottom-2">
  <h2>Supporters</h2>
  Civic Tech DC wouldn't be what it is without the generous support of these
  organizations!
</div>

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <div>
          <a href="https://www.virtru.com" target="_blank">
            <img
              src="/assets/images/logos/virtru.png"
              width="124"
              alt="Virtru logo"
            />
          </a>
          <div class="usa-media-block__body display-flex flex-justify-center">
            <h2 class="usa-graphic-list__heading">Virtru</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
