<section class="ctdc-logo-section">
  <div class="grid-container">
    <div class="ctdc-logo-section__header">
      <h2 class="ctdc-logo-section__title">Supporters</h2>
      <p class="ctdc-logo-section__desc">Civic Tech DC wouldn't be what it is without the generous support of these organizations!</p>
    </div>
    <div class="grid-row grid-gap-2 flex-align-stretch flex-justify-center">
      <!-- Virtru -->
      <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col margin-bottom-2">
        <div class="ctdc-logo-card">
          <a href="https://www.virtru.com" target="_blank" rel="noopener" aria-label="Virtru">
            {% include responsive-image.html src="logos/virtru.png" alt="Virtru" %}
          </a>
        </div>
      </div>

      <!-- Prefect -->
      <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col margin-bottom-2">
        <div class="ctdc-logo-card">
          <a href="https://www.prefect.io" target="_blank" rel="noopener" aria-label="Prefect">
            {% include responsive-image.html src="logos/prefect.png" alt="Prefect" %}
          </a>
        </div>
      </div>

      <!-- Taoti -->
      <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col margin-bottom-2">
        <div class="ctdc-logo-card">
          <a href="https://www.taoti.com" target="_blank" rel="noopener" aria-label="Taoti Creative">
            {% include responsive-image.html src="logos/taoti.jpg" alt="Taoti Creative" %}
          </a>
        </div>
      </div>

      <!-- Morning Consult -->
      <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col margin-bottom-2">
        <div class="ctdc-logo-card">
          <a href="https://www.morningconsult.com" target="_blank" rel="noopener" aria-label="Morning Consult">
            {% include responsive-image.html src="logos/morning_consult.svg" alt="Morning Consult" class="logo-invert" %}
          </a>
        </div>
      </div>

      <!-- Gensler -->
      <div class="grid-col-12 tablet:grid-col-6 desktop:grid-col margin-bottom-2">
        <div class="ctdc-logo-card">
          <a href="https://www.gensler.com" target="_blank" rel="noopener" aria-label="Gensler">
            {% include responsive-image.html src="logos/gensler.svg" alt="Gensler" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
