<!doctype html>
<html lang="en">
  <head>
    <title>
      {% if page.title %} {{page.title}} - {% endif %} {{site.name}} -
      {{site.description}}
    </title>
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" />

    {% include page-components/meta.html %}

    {% include page-components/css.html %}
    {% include page-components/js-head.html %}

   
  </head>

  <body>
    <header class="usa-header usa-header--basic" role="banner">
      <div class="usa-nav-container">
        <div class="usa-navbar">
          <a href="/" class="civic_logo" title="Home" aria-label="Home">
            <img
              id="logo"
              src="/assets/images/logo/civic-tech-dc-logo-text-bottom.png"
              alt="Civic Tech DC"
            />
          </a>

          <button class="usa-menu-btn">Menu</button>
        </div>

        <nav role="navigation" aria-label="Primary navigation" class="usa-nav">
          <button class="usa-nav__close">
            <img src="/assets/images/uwds/img/close.svg" alt="close" />
          </button>
          <ul class="usa-nav__primary usa-accordion">
            <li class="usa-nav__primary-item">
              <a class="usa-nav__link" href="{{ site.baseurl }}/code-of-conduct">
                <span>Code of Conduct</span>
              </a>
            </li>
            <li class="usa-nav__primary-item">
              <a class="usa-nav__link" href="{{ site.baseurl }}/slack">
                <span>Slack</span>
              </a>
            </li>
            <li class="usa-nav__primary-item">
              <a class="usa-nav__link" href="{{ site.baseurl }}donate">
                <span>Donate</span>
              </a>
            </li>
            <li class="usa-nav__primary-item">
              <a
                class="usa-nav__link"
                href="https://github.com/civictechdc"
                target="_blank"
              >
                <span>GitHub</span>
              </a>
            </li>
            <li class="usa-nav__primary-item">
              <a
                class="usa-nav__link"
                href="https://www.linkedin.com/company/civic-tech-dc/"
                target="_blank"
              >
                <span>LinkedIn</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container content">{{content}}</div>
    <!-- /container -->



    <footer class="usa-footer usa-footer--big" role="contentinfo">
     
      <div class="grid-container usa-footer__return-to-top">
        <a href="#">Return to top</a>
      </div>

      <div class="usa-footer__primary-section">
        <div class="grid-container">
         
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-8 desktop:grid-col-12">
            <nav class="usa-footer__nav" aria-label="Footer navigation" >
              <div class="grid-row grid-gap-4">

          <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
            <ul class="usa-list usa-list--unstyled">
              <li class="usa-footer__secondary-link"><a href="/code-of-conduct">Code of Conduct</a></li>
              <li class="usa-footer__secondary-link"><a href="/slack">Join Slack</a></li>
            </ul>
          </div>
          <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
            <ul class="usa-list usa-list--unstyled">
              <li class="usa-footer__secondary-link"><a href="https://github.com/civictechdc" target="_blank"
                >GitHub</a
              ></li>
              <li class="usa-footer__secondary-link">
                <a href="https://www.linkedin.com/company/civic-tech-dc/" target="_blank"
                >LinkedIn</a
              >
              </li>
            </ul>
          
          </div>
          <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
            <ul class="usa-list usa-list--unstyled">
              <li class="usa-footer__secondary-link"><a href="https://forms.gle/xNkayfBVMJj8dt1X8">Give Feedback</a></li>
              <li class="usa-footer__secondary-link"> <a href="https://forms.gle/HrpBe69qqCG8NiNo6"
                >Become an Organizer</a
              ></li>
            </ul>
            
          </div>
          </div>
        </nav>
      </div>
        </div>
        </div>
      </div>
    </footer>

    {% include page-components/js-foot.html %}

  </body>
</html>
