---
layout: base
---
{% include core/header.html %}
<main id="main-content">
  {%
    include components/hero-image.html
    title=page.hero-title subtitle=page.hero-subtitle image=page.hero-image
    alt=page.hero-image-alt cta_label=page.hero-cta-label cta_link=page.hero-cta-link
    cta_event=page.hero-cta-event cta_location=page.hero-cta-location
    cta2_label=page.hero-cta2-label cta2_link=page.hero-cta2-link
    cta2_icon=page.hero-cta2-icon cta2_event=page.hero-cta2-event
    cta2_location=page.hero-cta2-location
  %}
  <div class="grid-container ctdc-content-area">{{ content }}</div>

  {% include components/supporters.html cta=false %}
  {% include components/community-partners.html cta=false %}
  {% include components/closing-cta.html %}
</main>

{% include core/footer.html %}
