---
layout: default
---
<article class="ctdc-project-detail">
  <a href="{{ site.baseurl }}/projects" class="ctdc-back-link">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="/assets/img/sprite.svg#arrow_back"></use>
    </svg>
    All projects
  </a>

  <header class="ctdc-project-detail__header">
    {% if page.is_active %}
      <span class="ctdc-project-badge ctdc-project-badge--active">Active project</span>
    {% else %}
      <span class="ctdc-project-badge ctdc-project-badge--past">Past project</span>
    {% endif %}
    <h1 class="ctdc-project-detail__title">{{ page.title }}</h1>
    {% if page.description %}
      <p class="ctdc-project-detail__lead">{{ page.description }}</p>
    {% endif %}
    {% if page.github_link or page.slack_channel %}
      <ul class="ctdc-project-links">
        {% if page.github_link %}
          <li>
            <a
              class="usa-button usa-button--dark"
              href="{{ page.github_link }}"
              target="_blank"
              rel="noopener"
            >
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/assets/img/sprite.svg#code"></use>
              </svg>
              GitHub
            </a>
          </li>
        {% endif %}
        {% if page.slack_channel %}
          <li>
            <a
              class="usa-button usa-button--outline"
              href="https://slack.com/app_redirect?channel={{ page.slack_channel }}"
              target="_blank"
              rel="noopener"
            >
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/assets/img/sprite.svg#forum"></use>
              </svg>
              Slack
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </header>

  {% if page.image %}
    <div class="ctdc-project-detail__media">
      {% include responsive-image.html src=page.image alt=page.image_alt_text %}
    </div>
  {% endif %}

  <div class="usa-prose ctdc-project-detail__body">{{ page.content }}</div>
</article>
