name: CI

on:
  pull_request:

jobs:
  lint:
    name: Lint Codebase
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint
  gulp:
    name: Gulp compile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm ci

      - name: Check for gulp compile changes (you may need to run `gulp compile` and commit changed files if this check fails)
        run: |
          gulp compile
          git diff --no-patch --exit-code
